.wrapper {
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}
.container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: aqua;
    justify-content: space-between;

}
.nav-menu-item {
display: flex;
gap: 15px;
}
.container-left {
    display: flex;
    gap: 15px;
}

